#sidebar h2:hover{
    text-decoration: underline;
}

main #button {
    transition-duration: 0.5s;
    transition-property: font-size;
}

main #button:hover {
    font-size: 215%;
}

footer #Facebook:hover {
color: #8B81EC;
}
footer #Youtube:hover {
    color: #8B81EC;
}
footer #Instagram:hover {
    color: #8B81EC;
}
footer #Twitter:hover {
    color: #8B81EC;
}