@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap'); //font-family: 'Bigelow Rules', serif;
@import url('https://fonts.cdnfonts.com/css/sofia-sans'); //font-family: 'Sofia Sans', sans-serif;

#sidebar h2{
    font-family: 'Bigelow Rules', serif;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}

main h3 {
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

main h3 .typo_importante {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

main h2{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}

main .harry_potter {
        font-family: 'Bigelow Rules', serif;
        font-size: 40px;
}

footer h3 {
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


