*{
    margin: 0px;
    padding: 0px;
    border: 0;
}

main {
    background-image: url("/Ressources/background.webp");
    background-position: center;
    background-color: #ffffff55;
    background-repeat: repeat;
}

main #losange {
    position: relative;
}

main #chapeau {
    position: absolute;
}

main h2 h3 {
    position: absolute;
}

main #button {

    border-color: #433C87;
    border-radius: 30px;
}

header {
    background-color: #242633;
    background-size: 100px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    display: flex;
    background-color: #10141B;
    background-size: 60px;
    grid-row: auto;
    justify-content: space-around;
}

#sidebar h2 {
display: flex;
justify-content: center;
align-items: center;
}

main #left img {
    margin-left: 148px;
}

footer {
    background-color: #10141B;
    background-size: 229px;
}





